{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/extensions": ["error", "never", { "tsx": "never"}],
    "jsx-a11y/label-has-for": [ 2, {
      "components": [ "Label" ],
      "required": "id",
      "allowChildren": false
    }],
    "react/no-did-update-set-state": [0],
    "react/prop-types": [0],
    "react/jsx-props-no-spreading": [0, {
      "html": "ignore",
      "custom": "ignore",
      "explicitSpread": "ignore",
      "exceptions": ["Image", "img"]
    }],
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "no-console": "off",
    "comma-dangle": ["error", "always-multiline"]
  },
  // "parserOptions": {
  //   "ecmaFeatures": {
  //     "jsx": true
  //   }
  // },
  "parserOptions": {
    "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports
    "ecmaFeatures": {
      "jsx": true // Allows for the parsing of JSX
    }
  }
}